{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="jumbotron">
        <form method="POST">{% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
                <br />
                <button class="btn btn-primary" type="submit">Create</button>
                <a href="{% url 'main:login' %}">
                    <button class="btn btn-primary" type="button">Back</button>
                </a>
            </div>
        </form>
    </div>
{% endblock content %}